@import "./variables.scss";

/*--------------FOOTER---------------*/
footer {
  width: 100%;
  height: 36px;
  background-color: $color-dark;

  p {
    font-family: $main-font;
    color: $color-gray-soft;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
}