@import "./variables.scss";

/*----------Header------------*/

header {
  .header {
    position: fixed;
  }
  .header-nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-white;
    color: $color-dark;
    height: 40px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
  }
  /*-----------Links and button--------------*/
  .header-nav-link {
    color: #767679;
    opacity: 0.5;
    text-decoration: none;
    position: relative;
    // padding: 0 20px;
    font-family: $main-font;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    transition: all ease-in-out 0.2s;
    padding-bottom: 8px;
    font-weight: 500;
    &:hover,
    &:focus {
      color: $color-dark;
      opacity: 1;
      font-weight: 800;
      text-decoration: underline;
    }
  }

  .header-nav-btn {
    background-color: $color-dark;
    color: $color-white;
    border: 2px solid $color-dark;
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 12px;
    transition: all ease-in-out 0.2s;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    transition: all ease-in-out 0.2s;

    &:hover {
        background: $color-white;
        color: $color-dark;
        border: 2px solid $color-dark;
        cursor: pointer;
        box-shadow:  0px 4px 20px rgba(193, 193, 193, 0.5);
    }
  }
  /*-----------Logo--------------*/
  .header-nav-logo:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 375px) {
  .header-nav {
    padding: 20px 32px;
  }

  // .burger{
  //   display: flex;
  //   flex-direction: column;
  //   width: 2rem;
  //   height: 2rem;
  //   background: transparent;
  //   border: 0;
  //   gap: .5rem;

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }

  // #burger > div{
  //   display: block;
  //   background-color: $color-dark;
  //   height: 3px;
  //   width: 100%;
  //   border-radius: 2px;
  //   transition: all .5s;
  // }
  #burguer{
    background: transparent;
    border: none;
  }
  
  #burger > span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 100px;
    background-color: $color-dark;
    cursor: pointer;
  }

  #burger:hover{
    cursor: pointer;
  }

  #burger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #burger, #burger > span {
    transition: all .4s ease-in-out;
    border: none;
  }
  #burguer .active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }
  #burguer .active > span:nth-child(2){
    width: 0;
  }
  #burguer .active > span:nth-child(1),
  #burguer .active > span:nth-child(3){
    transition-delay: .4s;
  }
  #burguer .active > span:nth-child(1){
    transform: translateY(9px);
  }
  #burguer .active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
  }

  .header-nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    background: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
    z-index: 100;
    li {
      margin-top: 70px;
      margin-bottom: 10px;

      .header-nav-link {
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
      }
    }
    .header-nav-btn {
      margin-left: 0px;
      font-size: 18px;
    }
  }
  .nav-active {
    transform: translateX(0%);
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .header-nav {
    padding: 20px 32px;
  }
  #burguer{
    background: transparent;
    border: none;
  }
  #burger > span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 100px;
    background-color: $color-dark;
  }

  #burger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #burger, #burger > span {
    transition: all .4s ease-in-out;
    border: none;
  }
  #burguer.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }
  #burguer.active > span:nth-child(2){
    width: 0;
  }
  #burguer.active > span:nth-child(1),
  #burguer.active > span:nth-child(3){
    transition-delay: .4s;
  }
  #burguer.active > span:nth-child(1){
    transform: translateY(9px);
  }
  #burguer.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
  }

  .header-nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    // top: 8vh;
    background: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    li {
      margin-top: 50px;
      margin-bottom: 10px;

      .header-nav-link {
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
      }
    }
    .header-nav-btn {
      margin-left: 0px;
      font-size: 18px;
    }
  }
  .nav-active {
    transform: translateX(0%);
    display: flex;
  }
}

@media screen and (min-width: 920px) {
  .header-nav {
    padding: 20px 100px;
  }

  // .burger{
  //   display: flex;
  //   flex-direction: column;
  //   width: 2rem;
  //   height: 2rem;
  //   background: transparent;
  //   border: 0;
  //   gap: .5rem;

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }

  // #burger > div{
  //   display: block;
  //   background-color: $color-dark;
  //   height: 3px;
  //   width: 100%;
  //   border-radius: 2px;
  //   transition: all .5s;
  // }

  #burguer{
    background: transparent;
    border: none;
  }
  .burger {
    display: none;
  }

  .header-nav-links {
    position: inherit;
    right: 0px;
    left: 42vw;
    height: 80px;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transform: translateX(0%);

    li {
      margin-top: 0px;
      margin-bottom: 0px;

      .header-nav-link {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .header-nav-btn {
      margin-left: 20px;
      font-size: 14px;
    }
  }

  .section-aboutme-container {
    margin: 120px 100px 120px 100px;
  }
}

@media screen and (min-width: 1380px) {
  .header-nav {
    padding: 20px 100px;
  }

  #burguer{
    background: transparent;
    border: none;
  }
  .burger {
    display: none;
  }
  .header-nav-links {
    position: inherit;
    right: 0px;
    left: 42vw;
    height: 80px;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transform: translateX(0%);

    li {
      margin-top: 0px;
      margin-bottom: 0px;

      .header-nav-link {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .header-nav-btn {
      margin-left: 20px;
      font-size: 14px;
    }
  }
}
