@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/*----------Header------------*/
header {
  /*-----------Links and button--------------*/
  /*-----------Logo--------------*/
}

header .header {
  position: fixed;
}

header .header-nav {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FEFEFE;
  color: #161624;
  height: 40px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

header .header-nav-link {
  color: #44444F;
  text-decoration: none;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  padding-bottom: 8px;
  font-weight: 500;
}

header .header-nav-link:hover, header .header-nav-link:focus {
  color: #161624;
}

header .header-nav-btn {
  background-color: #161624;
  color: #FEFEFE;
  border: 2px solid #161624;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  transition: all ease-in-out 0.2s;
}

header .header-nav-btn:hover {
  background: #FEFEFE;
  color: #161624;
  border: 2px solid #161624;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.5);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.5);
}

header .header-nav-logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header-nav {
    padding: 20px 32px;
  }
  .burger {
    display: block;
    font-size: 28px;
  }
  .burger:hover {
    cursor: pointer;
  }
  .header-nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    background: rgba(255, 255, 255, 0.36);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 100;
  }
  .header-nav-links li {
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav-btn {
    margin-left: 0px;
  }
}

@media screen and (min-width: 480px) {
  .header-nav {
    padding: 20px 32px;
  }
  #burger > span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 100px;
    background-color: #161624;
  }
  #burger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #burger, #burger > span {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  #burguer.active {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #burguer.active > span:nth-child(2) {
    width: 0;
  }
  #burguer.active > span:nth-child(1),
  #burguer.active > span:nth-child(3) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  #burguer.active > span:nth-child(1) {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  #burguer.active > span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(90deg);
            transform: translateY(-9px) rotate(90deg);
  }
  .header-nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    background: rgba(255, 255, 255, 0.36);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .header-nav-links li {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav-btn {
    margin-left: 0px;
  }
}

@media screen and (min-width: 920px) {
  .header-nav {
    padding: 20px 100px;
  }
  .burger {
    display: none;
  }
  .header-nav-links {
    position: inherit;
    right: 0px;
    left: 42vw;
    height: 80px;
    top: 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header-nav-links li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-nav-btn {
    margin-left: 20px;
  }
  .section-aboutme-container {
    margin: 120px 100px 120px 100px;
  }
}

@media screen and (min-width: 1380px) {
  .header-nav {
    padding: 20px 100px;
  }
  .burger {
    display: none;
  }
  .header-nav-links {
    position: inherit;
    right: 0px;
    left: 42vw;
    height: 80px;
    top: 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header-nav-links li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-nav-btn {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=header.css.map */