@import "./variables.scss";

/*-----------HERO--------------*/

.section-hero-container {
  display: flex;
  flex-direction: column;
  margin: 60px 15px;
}

.section-hero-description {
  margin: auto;
  // max-width:800px;
  .hero-welcome{
    font-family: $main-font;
    color: $color-dark;
  }
  &__name {
    font-family: $main-font;
    // color: transparent;
    font-size: 110px;
    text-align: center;
    background: #5552FF;
    background: linear-gradient(to right, #5552FF 0%, #8525CF 100%);
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }

  &__job {
    font-family: $main-font;
    font-size: 32px;
    color: $color-dark;
    text-align: center;
    letter-spacing: 0.2em;
  }
}

.section-hero-img {
  margin: auto;
  justify-content: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 480px) {
  .section-hero-container {
    margin: 20px 15px;
  }

  .section-hero-img {
    margin: 20px auto;
  }
}
