@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/*--------------PROFILE---------------*/
.section-aboutme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-aboutme-container .section-aboutme-description {
  font-family: "Red Hat Display", sans-serif;
  color: #828282;
  text-align: center;
  white-space: normal;
  word-break: normal;
}

.section-aboutme-container .section-aboutme-description b {
  color: #5552ff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}

.section-aboutme-container .section-aboutme-btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.section-aboutme-container .section-aboutme-btn-container .section-aboutme-button {
  background-color: transparent;
  color: #1e1e1e;
  border: 3px solid #1e1e1e;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.section-aboutme-container .section-aboutme-btn-container .section-aboutme-button:hover {
  background: transparent;
  color: #1e1e1e;
  border: 3px solid #1e1e1e;
  cursor: pointer;
  -webkit-box-shadow: -8px 4px 20px rgba(85, 82, 255, 0.3);
          box-shadow: -8px 4px 20px rgba(85, 82, 255, 0.3);
}

@media screen and (max-width: 480px) {
  .section-aboutme-description {
    line-height: 2rem;
    font-size: 16px;
  }
  /*--------------About---------------*/
  .section-aboutme-container {
    margin: 120px 14px 120px 14px;
  }
  .section-aboutme-button {
    padding: 12px 138px;
    letter-spacing: 0.12em;
  }
}

@media screen and (min-width: 480px) {
  /*--------------About---------------*/
  .section-aboutme-description {
    line-height: 2.3rem;
    font-size: 18px;
  }
  .section-aboutme-container {
    margin: 120px 60px 120px 60px;
  }
  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
}

@media screen and (min-width: 920px) {
  .section-aboutme-description {
    line-height: 2.3rem;
    font-size: 20px;
  }
  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
}

@media screen and (min-width: 1380px) {
  /*--------------About---------------*/
  .section-aboutme-description {
    line-height: 2.3rem;
    font-size: 20px;
  }
  .section-aboutme-container {
    margin: 120px 100px 120px 100px;
  }
  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
}
/*# sourceMappingURL=profile.css.map */