@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/*--------------Projects---------------*/
.projects-section h2 {
  color: #161624;
  padding-top: 50px;
  font-family: "Space Grotesk", sans-serif;
}

.projects-section .projects-container {
  margin: 35px 15px;
  display: -ms-grid;
  display: grid;
}

.projects-section .projects-container .project-container-item {
  background-color: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-box-shadow: 0px 4px 20px rgba(211, 211, 211, 0.2);
          box-shadow: 0px 4px 20px rgba(211, 211, 211, 0.2);
}

.projects-section .projects-container .project-container-item .project-container-img {
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #e6e6e6;
}

.projects-section .projects-container .project-container-item .project-container-img img {
  height: auto;
  border-radius: 6px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects-section .projects-container .project-container-item h3 {
  color: #5552ff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding: 28px 0 15px 40px;
}

.projects-section .projects-container .project-container-item p {
  color: #44444F;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  padding: 20px 40px;
}

.projects-section .projects-container .project-container-item .btn-container {
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.projects-section .projects-container .project-container-item .btn-container .btn-container_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  overflow: hidden;
  justify-self: right;
  justify-items: center;
}

.projects-section .projects-container .project-container-item .btn-container .btn-container_ul li {
  float: left;
  list-style: none;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_blue {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: #FEFEFE;
  border: 2px solid #5552ff;
  border-radius: 15px;
  color: #5552ff;
  display: inline-block;
  padding: 1px 6px;
  line-height: 24px;
  position: relative;
  margin: 0px 5px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_blue:hover {
  background-color: #5552ff;
  color: #FEFEFE;
  border: 2px solid #5552ff;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_blue img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_dark {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: #FEFEFE;
  border: 2px solid #161624;
  border-radius: 15px;
  color: #161624;
  display: inline-block;
  padding: 1px 6px;
  line-height: 24px;
  position: relative;
  margin: 0px 5px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_dark:hover {
  background-color: #161624;
  color: #FEFEFE;
  border: 2px solid #161624;
}

.projects-section .projects-container .project-container-item .btn-container .projects-btn_dark img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.projects-section .projects-container .project-container-item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.projects-section .projects-container-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 70px;
}

.projects-section .projects-container-btn .projects-button {
  background-color: #161624;
  color: #FEFEFE;
  border: 2px solid #161624;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.12em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.projects-section .projects-container-btn .projects-button:hover {
  background: #FEFEFE;
  color: #161624;
  border: 2px solid #161624;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.5);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.5);
}

@media screen and (max-width: 480px) {
  /*--------------Projects---------------*/
  .project-container-item {
    max-width: 340px;
    margin: 50px 8px;
  }
  .project-container-item .project-container-img {
    padding: 14px 8px;
  }
  .project-container-item .project-container-img img {
    max-width: 300px;
  }
  .projects-btn_blue {
    padding: 6px 32px;
  }
  .projects-btn_dark {
    padding: 6px 32px;
  }
  .projects-button {
    padding: 14px 38px;
  }
}

@media screen and (min-width: 480px) {
  /*--------------Projects---------------*/
  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;
  }
  .project-container-item .project-container-img {
    padding: 14px 14px;
  }
  .project-container-item .project-container-img img {
    max-width: 380px;
  }
  .projects-btn_blue {
    padding: 6px 38px;
  }
  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}

@media screen and (min-width: 920px) {
  /*--------------Projects---------------*/
  .projects-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;
  }
  .project-container-item .project-container-img {
    padding: 14px 14px;
  }
  .project-container-item .project-container-img img {
    max-width: 380px;
  }
  .projects-btn_blue {
    padding: 6px 38px;
  }
  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}

@media screen and (min-width: 1380px) {
  /*--------------Projects---------------*/
  .projects-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;
  }
  .project-container-item .project-container-img {
    padding: 14px 14px;
  }
  .project-container-item .project-container-img img {
    max-width: 380px;
  }
  .projects-btn_blue {
    padding: 6px 38px;
  }
  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}
/*# sourceMappingURL=projects.css.map */