@import "./variables.scss";

/*--------------Projects---------------*/
.projects-section {
  h2 {
    color: $color-dark;
    padding-top: 50px;
    font-family: $main-font;
  }

  .projects-container {
    margin: 35px 15px;
    display: grid;

    .project-container-item {
      // border: 3px solid transparent;
      background-color: #fff;
      justify-self: center;
      border-radius: 6px;
      display: grid;
      transition: all ease-in-out 0.2s;
      box-shadow:  0px 4px 20px rgba(211, 211, 211, 0.2);


      .project-container-img {
        justify-self: center;
        object-fit: cover;
        border-bottom: 1px solid rgb(230, 230, 230);

        img {
          height: auto;
          border-radius: 6px;
          justify-self: center;
        }
      }

      h3 {
        color: $color-blue;
        font-family: $main-font;
        font-weight: 700;
        font-size: 20px;
        text-align: left;
        padding: 28px 0 15px 40px;
      }

      p {
        color: $color-gray-dark;
        font-family: $main-font;
        font-size: 14px;
        padding: 20px 40px;
      }

      .btn-container {
        padding: 15px;
        display: grid;

        .btn-container_ul {
          display: flex;
          list-style: none;
          margin: 0;
          overflow: hidden;
          justify-self: right;
          justify-items: center;
        }

        .btn-container_ul li {
          float: left;
          list-style: none;
        }

        .projects-btn_blue {
          font-family: $main-font;
          font-size: 14px;
          font-weight: 500;
          background: $color-white;
          border: 2px solid $color-blue;
          border-radius: 15px;
          color: $color-blue;
          display: inline-block;
          padding: 1px 6px;
          line-height: 26px;
          position: relative;
          margin: 0px 10px;
          text-decoration: none;
          transition: 0.2s;
          &:hover {
            background-color: $color-blue;
            color: $color-white;
            border: 2px solid $color-blue;
          }
          img {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            //border: 1px solid red;
          }
        }
        .projects-btn_dark {
          font-family: $main-font;
          font-size: 14px;
          font-weight: 500;
          background: $color-white;
          border: 2px solid $color-dark;
          border-radius: 15px;
          color: $color-dark;
          display: inline-block;
          padding: 1px 6px;
          line-height: 26px;
          position: relative;
          margin: 0px 10px;
          text-decoration: none;
          transition: 0.2s;
          &:hover {
            background-color: $color-dark;
            color: $color-white;
            border: 2px solid $color-dark;
          }
          img {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
          }
        }
      }
      &:hover {
        // box-shadow: 0px 1px 40px rgba(99, 99, 100, 0.18);
        // border: 3px solid $color-dark;
        transform: translateY(-2px);
      }
    }
  }

  .projects-container-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
    margin-bottom: 70px;

    .projects-button {
      background-color: $color-dark;
      color: $color-white;
      border: 2px solid $color-dark;
      text-decoration: none;
      border-radius: 6px;
      transition: all ease-in-out 0.2s;
      font-family: $main-font;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      letter-spacing: 0.12em;
      justify-content: center;
      outline: none;

      &:hover {
        background: $color-white;
        color: $color-dark;
        border: 2px solid $color-dark;
        cursor: pointer;
        box-shadow:  0px 4px 20px rgba(193, 193, 193, 0.5);
        // transform: translateY(-4px);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  /*--------------Projects---------------*/
  .project-container-item {
    max-width: 340px;
    margin: 50px 8px;

    .project-container-img {
      padding: 14px 8px;

      img {
        max-width: 300px;
      }
    }
  }

  .projects-btn_blue {
    padding: 6px 32px;
  }

  .projects-btn_dark {
    padding: 6px 32px;
  }

  .projects-button {
    padding: 14px 38px;
  }
}

@media screen and (min-width: 480px) {
  /*--------------Projects---------------*/
  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;

    .project-container-img {
      padding: 14px 14px;

      img {
        max-width: 380px;
      }
    }
  }

  .projects-btn_blue {
    padding: 6px 38px;
  }
  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}

@media screen and (min-width: 920px) {
  /*--------------Projects---------------*/
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;

    .project-container-img {
      padding: 14px 14px;

      img {
        max-width: 380px;
      }
    }
  }

  .projects-btn_blue {
    padding: 6px 38px;
  }
  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}

@media screen and (min-width: 1380px) {
  /*--------------Projects---------------*/
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-container-item {
    max-width: 430px;
    margin: 50px 8px;

    .project-container-img {
      padding: 14px 14px;

      img {
        max-width: 380px;
      }
    }
  }

  .projects-btn_blue {
    padding: 6px 38px;
  }

  .projects-btn_dark {
    padding: 6px 38px;
  }
  .projects-button {
    padding: 14px 34px;
  }
}
