<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800|Space+Mono:400,400i,700&display=swap");
/*Manrope font on google Fonts*/
$color-dark: #34343c;
$color-blue: #4950e2;
$color-white: #ffffff;
$color-gray-soft: #ececec;
$color-gray-dark: #828282;

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: $color-dark;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
=======
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800|Space+Mono:400,400i,700&display=swap');
/*Manrope font on google Fonts*/
$color-dark: #17182B; 
$color-blue: #3A41E4;
$color-white: #FFFFFF;
$color-gray-soft: rgb(237, 241, 253);
$color-gray-dark: #828282;

* {
    margin: 0;
    padding: 0;
}

h2{
    color: $color-dark;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
>>>>>>> ca5ee7fcea482d5238af911d6f24c280a20412cc
}

/* -----------------------SCROLLBAR-------------------- */
/* width */
::-webkit-scrollbar {
<<<<<<< HEAD
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-gray-soft;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-gray-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*----------Header------------*/

header {
  .header-nav {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-dark;
    color: $color-white;
    height: 40px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding-left: 10px;
    list-style: none;
  }
  /*-----------Links and button--------------*/
  .header-nav-link {
    color: $color-white;
    text-decoration: none;
    padding: 0 20px;
    font-family: "Space Mono", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all ease-in-out 0.2s;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .header-nav-btn {
    background-color: $color-dark;
    color: $color-white;
    border: 2px solid $color-white;
    margin-left: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
    font-family: "Space Mono", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    &:hover {
      background: $color-white;
      color: $color-dark;
      cursor: pointer;
    }
  }
  /*-----------Logo--------------*/
  .header-nav-logo:hover {
    cursor: pointer;
  }
}

/*-----------HERO--------------*/

.section-hero-container {
  display: flex;
  flex-direction: column;
  margin: 80px 15px;
}

.section-hero-description {
  margin: auto;
  &__name {
    font-family: "Nunito", sans-serif;
    color: $color-dark;
    font-size: 64px;
    text-align: center;
  }

  &__job {
    font-family: "Space Mono", sans-serif;
    font-size: 32px;
    color: $color-blue;
    text-align: center;
    letter-spacing: 0.25em;
  }
}

.section-hero-img {
  margin: auto;
  justify-content: center;
  margin-bottom: 80px;
  img {
    border-radius: 10px;
  }
}

/*--------------PROFILE---------------*/
.section-aboutme-container {
  display: flex;
  justify-content: center;
  margin: 160px 35px;

  .section-aboutme-description {
    font-family: "Nunito", sans-serif;
    color: $color-gray-dark;
    font-size: 22px;
    text-align: justify;

    b {
      color: $color-blue;
      font-family: "Space Mono", sans-serif;
      font-weight: 600;
    }
  }
}

/*--------------Skills---------------*/

.skills {
  background-image: url(/img/wave-haikei.svg);
  color: $color-white;
  /*height: 250px;*/

  h2 {
    color: $color-white;
    padding-top: 50px;
  }
}

.skills-container {
  display: flex;
  justify-content: space-between;
  margin: 35px 35px;
  h3 {
    color: $color-white;
    padding: 30px 0;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  p {
    padding: 5px 0;
    font-size: 18px;
    opacity: 0.9;
  }
}

.wd {
  margin: auto;
  font-family: "Nunito", sans-serif;
  color: #ececec;
  font-size: 22px;
  padding-bottom: 35px;
}

.uix {
  margin: auto;
  font-family: "Nunito", sans-serif;
  color: #ececec;
  font-size: 22px;
  padding-bottom: 35px;
}

/*--------------Skills_Bar---------------*/

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0;
  display: flex;
  height: 10px;
  width: 300px;
  margin-bottom: 15px;
}

.progress-value {
  animation: load 1.5s normal forwards;
  border-radius: 100px;
  background: linear-gradient(90deg, #3b41e4 0%, #52d2bc 113.02%);
  height: 10px;
  width: 0;
}

/* @keyframes load {
    0% { width: 0; }
    100% { width: 75%; }
  }*/

/*--------------Projects---------------*/
.projects {
  h2 {
    color: $color-dark;
    padding-top: 50px;
  }

  .projects-container {
    margin: 35px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .project-container {
      max-width: 400px;
      margin: 50px 20px;
      justify-self: center;
      border-radius: 8px;
      display: grid;
      transition: all ease-in-out 0.2s;
      img {
        width: 350px;
        height: 182px;
        padding: 15px;

        justify-self: center;
      }

      h3 {
        color: $color-blue;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 35px 0 15px 0;
      }

      p {
        color: $color-gray-dark;
        font-family: "Nunito", sans-serif;
        font-size: 14px;
        padding: 20px 20px;
      }
      .tags-container {
        padding: 15px;
        display: grid;

        .tags {
          list-style: none;
          margin: 0;
          overflow: hidden;
          //padding: 0;
          justify-self: center;
        }

        .tags li {
          float: left;
          list-style: none;
        }

        .tag {
          font-family: "Space Mono", sans-serif;
          font-size: 14px;
          font-weight: 500;
          background: rgba(58, 65, 228, 0.3);
          border-radius: 3px;
          color: $color-gray-dark;
          display: inline-block;
          height: 26px;
          line-height: 26px;
          padding: 0 20px 0 23px;
          position: relative;
          margin: 0 10px 10px 0;
          text-decoration: none;
          -webkit-transition: color 0.2s;
          &:hover {
            background-color: $color-blue;
            color: white;
          }
        }
      }
      a {
        color: $color-blue;
        padding: 5px 20px 25px;
        font-family: "Space Mono", sans-serif;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: 600;
        text-transform: uppercase;
        transition: all ease-in-out 0.2s;
        display: grid;
        justify-self: center;

        &:hover {
          color: $color-dark;
        }
      }
      &:hover {
        box-shadow: 0px 0px 10px rgba(63, 61, 86, 0.25);
      }
    }
  }
}

/*--------------CONTACT---------------*/
.contact {
  height: 250px;
  background-color: $color-gray-soft;
  h2 {
    color: $color-dark;
    padding-top: 50px;
  }
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 25px 20px;
    .contact-icon-mail {
      padding: 10px 15px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .contact-icon-github {
      padding: 10px 15px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .contact-icon-linkedin {
      padding: 10px 15px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .contact-icon-cv {
      padding: 10px 15px;
      img {
        width: 40px;
        height: 40px;
        &:hover {
          color: $color-dark;
        }
      }
    }
  }
}

/*--------------FOOTER---------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: $color-dark;
  border-top: 5px solid $color-blue;

  p {
    font-family: "Nunito", sans-serif;
    color: $color-gray-soft;
    font-size: 14px;
    text-align: center;
    margin: 15px 0 15px 0;
  }
}
=======
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $color-gray-soft; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-gray-dark; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/*----------Header------------*/

header{
    .menu{
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color-blue;
        color:$color-white;
        height: 40px;
    }
    
    ul {
        display: flex;
        align-items: center;
    }
        
    li {
        padding-left: 10px;
        list-style: none;
    }
    
    a{
        color: $color-white;
        text-decoration: none;
        padding: 0 20px;
        font-family: 'Space Mono', sans-serif;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: all ease-in-out 0.2s;
        opacity: .8;
        
        &:hover{
            /*color: $color-dark;*/
            font-weight: 600;
            opacity: 1.0;
        }
    }

    .contact-btn{
        color: $color-dark;
        background-color: $color-white;
        border: none;
        margin-left: 20px;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        transition: all ease-in-out .2s;
        font-family: 'Space Mono', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        
    
        &:hover{
            background: $color-dark;
            color: $color-white; 
            cursor: pointer;
        }
    }

    .logo:hover {
        cursor: pointer;
    }

}




/*-----------Hero--------------*/

.name-container{
    // display: flex;
    // justify-content: space-between;
    margin: 135px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-desc {
    margin: auto;
    grid-column: 1;
    .name{
        font-family: 'Nunito', sans-serif;
        color: $color-dark;
        font-size: 64px;
        text-align: center;
    }

    .job{
        font-family: 'Space Mono', sans-serif;
        font-size: 32px;
        color: $color-blue;
        text-align: center;
        letter-spacing: 0.25em;
    }
}

.item-img {
    grid-column: 2;
    justify-self: center;
    img {
        border-radius: 10px;
    }
}




/*--------------PROFILE---------------*/
.profile-container{
    display: flex;
    justify-content: center;
    margin: 160px 35px;
}

.item-description {
    margin: auto;

    .profile-description{
        font-family: 'Nunito', sans-serif;
        color: $color-gray-dark;
        font-size: 22px;
        text-align: center;

        b {
            color: $color-blue;
            font-family: 'Space Mono', sans-serif;
            font-weight: 600;
        }
    }
}


/*--------------Skills---------------*/

.skills{
    background-color: $color-dark;
    color: $color-white;
    /*height: 250px;*/

    h2 {
        color: $color-white;
        padding-top: 50px;
    }
}

.skills-container{
    display: flex;
    justify-content: space-between;
    margin: 35px 35px;
    h3 {
        color: $color-white;
        padding: 30px 0;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    p {
        padding: 5px 0;
        font-size: 18px;
        opacity: 0.9;
    }

}    


.wd{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    color: #ECECEC;
    font-size: 22px;
    padding-bottom: 35px;
}

.uix{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    color: #ECECEC;
    font-size: 22px;
    padding-bottom: 35px;
}


/*--------------Skills_Bar---------------*/

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 10px;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .progress-value {
    animation: load 1.5s normal forwards;
    border-radius: 100px;
    background: linear-gradient(90deg, #3B41E4 0%, #52D2BC 113.02%);
    height: 10px;
    width: 0;
  }
  
 /* @keyframes load {
    0% { width: 0; }
    100% { width: 75%; }
  }*/
  

/*--------------Projects---------------*/
.projects{
    h2 {
        color: $color-dark;
        padding-top: 50px;
    }

    .projects-container{
        margin: 35px 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .project-container{
            max-width: 400px;
            margin: 50px 20px;
            justify-self: center;
            border-radius: 8px;
            display: grid;
            transition: all ease-in-out 0.2s;
            img {
                width: 350px;
                height: 182px;
                padding: 15px;
                
                justify-self: center;
            }

            h3 {
                color: $color-blue;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                padding: 35px 0 15px 0;
            }

            p {
                color: $color-gray-dark;
                font-family: 'Nunito', sans-serif;
                font-size: 14px;
                padding: 20px 20px;

            }
            .tags-container {
                padding: 15px;
                display: grid;
                
                .tags {
                    list-style: none;
                    margin: 0;
                    overflow: hidden; 
                    //padding: 0;
                    justify-self: center;
                  }
                  
                  .tags li {
                    float: left;    
                    list-style: none;
                  }
                  
                  .tag {
                    font-family: 'Space Mono', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    background: rgba(58, 65, 228, 0.3);
                    border-radius: 3px;
                    color: $color-gray-dark;
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 20px 0 23px;
                    position: relative;
                    margin: 0 10px 10px 0;
                    text-decoration: none;
                    -webkit-transition: color 0.2s;
                    &:hover {
                        background-color: $color-blue;
                        color: white;
                      }
                  }
    
            }
            a {
                color: $color-blue;
                padding: 5px 20px 25px;
                font-family: 'Space Mono', sans-serif;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0.05em;
                font-weight: 600;
                text-transform: uppercase;
                transition: all ease-in-out 0.2s;
                display: grid;
                justify-self: center;

                &:hover{
                    color: $color-dark;
                }    
            }
            &:hover{
                box-shadow: 0px 0px 10px rgba(63, 61, 86, 0.25);
            }
        }
    }
}  

/*--------------CONTACT---------------*/
.contact{
    height: 250px;
    background-color: $color-gray-soft;
    h2 {
        color: $color-dark;
        padding-top: 50px;
    }
    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 25px 20px;
        .contact-icon-mail{
            padding: 10px 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }

        .contact-icon-github{
            padding: 10px 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }

        .contact-icon-linkedin{
            padding: 10px 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }

        .contact-icon-cv{
            padding: 10px 15px;
            img {
                width: 40px;
                height: 40px;
                &:hover{
                    color: $color-dark;
                }
            }
        }
    }
}

/*--------------FOOTER---------------*/
footer { 
    width: 100%;
    height: 50px;
    background-color: $color-dark;
    border-top: 5px solid $color-blue;

    p {
        font-family: 'Nunito', sans-serif;
        color: $color-gray-soft;
        font-size: 14px;
        text-align: center;
        margin: 15px 0 15px 0;
    }
}    
>>>>>>> ca5ee7fcea482d5238af911d6f24c280a20412cc
