@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800|Space+Mono:400,400i,700&display=swap");
@font-face {
  font-family: "Calibre";
  src: url("/css/fonts/Calibre/Calibre-Medium.ttf"), url("/css/fonts/Calibre/Calibre-Medium.woff"), url("/css/fonts/Calibre/Calibre-Medium.woff2"), url("/css/fonts/Calibre/Calibre-Light.ttf"), url("/css/fonts/Calibre/Calibre-Light.woff"), url("/css/fonts/Calibre/Calibre-Light.woff2"), url("/css/fonts/Calibre/Calibre-Regular.ttf"), url("/css/fonts/Calibre/Calibre-Regular.woff"), url("/css/fonts/Calibre/Calibre-Regular.woff2"), url("/css/fonts/Calibre/Calibre-Semibold.ttf"), url("/css/fonts/Calibre/Calibre-Semibold.woff"), url("/css/fonts/Calibre/Calibre-Semibold.woff2");
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #1e1e1e;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

/* -----------------------SCROLLBAR-------------------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #828282;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*----------Header------------*/
header {
  /*-----------Links and button--------------*/
  /*-----------Logo--------------*/
}

header .header-nav {
  position: static;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e1e1e;
  color: #ffffff;
  height: 40px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  padding-left: 10px;
  list-style: none;
}

header .header-nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0.8;
  font-weight: 400;
}

header .header-nav-link:hover {
  opacity: 1;
}

header .header-nav-btn {
  background-color: #ffffff;
  color: #1e1e1e;
  border: none;
  margin-left: 20px;
  padding: 10px 24px;
  text-decoration: none;
  border-radius: 100px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.15em;
}

header .header-nav-btn:hover {
  background: #5552ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

header .header-nav-logo:hover {
  cursor: pointer;
}

/*-----------HERO--------------*/
.section-hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 15px;
}

.section-hero-description {
  margin: auto;
}

.section-hero-description__name {
  font-family: "Calibre", sans-serif;
  color: #1e1e1e;
  font-size: 64px;
  text-align: center;
}

.section-hero-description__job {
  font-family: "Space Mono", sans-serif;
  font-size: 32px;
  color: #5552ff;
  text-align: center;
  letter-spacing: 0.2em;
}

.section-hero-img {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.section-hero-img img {
  border-radius: 10px;
}

/*--------------PROFILE---------------*/
.section-aboutme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 100px 120px 100px;
}

.section-aboutme-container .section-aboutme-description {
  font-family: "Calibre", sans-serif;
  color: #828282;
  line-height: 2.3rem;
  font-size: 22px;
  text-align: center;
}

.section-aboutme-container .section-aboutme-description b {
  color: #5552ff;
  font-family: "Calibre", sans-serif;
  font-weight: 700;
}

.section-aboutme-container .section-aboutme-btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.section-aboutme-container .section-aboutme-btn-container .section-aboutme-button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  padding: 16px 48px;
  text-decoration: none;
  border-radius: 100px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.15em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-aboutme-container .section-aboutme-btn-container .section-aboutme-button:hover {
  background: #5552ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 15px 20px rgba(85, 82, 255, 0.4);
          box-shadow: 0px 15px 20px rgba(85, 82, 255, 0.4);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

/*--------------Skills---------------*/
.skills {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid red;
}

.skills h2 {
  color: #ffffff;
  padding-top: 50px;
}

.skills-container {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 35px;
}

.skills-container h3 {
  color: #ffffff;
  padding: 30px 0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.skills-container p {
  padding: 5px 0;
  font-size: 18px;
  opacity: 0.9;
}

.wd {
  margin: auto;
  font-family: "Calibre", sans-serif;
  color: #ececec;
  font-size: 22px;
  padding-bottom: 35px;
  border: 1px solid red;
}

.uix {
  margin: auto;
  font-family: "Calibre", sans-serif;
  color: #ececec;
  font-size: 22px;
  padding-bottom: 35px;
  border: 1px solid red;
}

/*--------------Projects---------------*/
.projects h2 {
  color: #1e1e1e;
  padding-top: 50px;
}

.projects .projects-container {
  margin: 35px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.projects .projects-container .project-container {
  max-width: 400px;
  margin: 50px 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.projects .projects-container .project-container img {
  width: 350px;
  height: 182px;
  padding: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects .projects-container .project-container h3 {
  color: #5552ff;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 35px 0 15px 0;
}

.projects .projects-container .project-container p {
  color: #828282;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  padding: 20px 20px;
}

.projects .projects-container .project-container .tags-container {
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.projects .projects-container .project-container .tags-container .tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects .projects-container .project-container .tags-container .tags li {
  float: left;
  list-style: none;
}

.projects .projects-container .project-container .tags-container .tag {
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: rgba(58, 65, 228, 0.3);
  border-radius: 3px;
  color: #828282;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.projects .projects-container .project-container .tags-container .tag:hover {
  background-color: #5552ff;
  color: white;
}

.projects .projects-container .project-container a {
  color: #5552ff;
  padding: 5px 20px 25px;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects .projects-container .project-container a:hover {
  color: #1e1e1e;
}

.projects .projects-container .project-container:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(63, 61, 86, 0.25);
          box-shadow: 0px 0px 10px rgba(63, 61, 86, 0.25);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

/*--------------CONTACT---------------*/
.contact {
  height: 250px;
  background-color: #f6f6f6;
}

.contact h2 {
  color: #1e1e1e;
  padding-top: 50px;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 25px 20px;
}

.contact .contact-container .contact-icon-mail {
  padding: 10px 15px;
}

.contact .contact-container .contact-icon-mail img {
  width: 40px;
  height: 40px;
}

.contact .contact-container .contact-icon-github {
  padding: 10px 15px;
}

.contact .contact-container .contact-icon-github img {
  width: 40px;
  height: 40px;
}

.contact .contact-container .contact-icon-linkedin {
  padding: 10px 15px;
}

.contact .contact-container .contact-icon-linkedin img {
  width: 40px;
  height: 40px;
}

.contact .contact-container .contact-icon-cv {
  padding: 10px 15px;
}

.contact .contact-container .contact-icon-cv img {
  width: 40px;
  height: 40px;
}

.contact .contact-container .contact-icon-cv img:hover {
  color: #1e1e1e;
}

/*--------------FOOTER---------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #1e1e1e;
  border-top: 5px solid #5552ff;
}

footer p {
  font-family: "Nunito", sans-serif;
  color: #f6f6f6;
  font-size: 14px;
  text-align: center;
  margin: 15px 0 15px 0;
}
/*# sourceMappingURL=style.css.map */