@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800|Space+Mono:400,400i,700&display=swap');

$color-dark: #17182B; 
$color-blue: #3A41E4;
$color-white: #FFFFFF;
$color-gray-soft: #ECECEC;
$color-gray-dark: #828282;

* {
    margin: 0;
    padding: 0;
}

h2{
    color: $color-dark;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}
/*----------Header------------*/

header{
    .menu{
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color-blue;
        color:$color-white;
        height: 40px;
        
    }
    
    ul {
        display: flex;
        align-items: center;
    }
        
    li {
        padding-left: 10px;
        list-style: none;
    }
    
    a{
        color: $color-white;
        text-decoration: none;
        padding: 0 20px;
        font-family: 'Space Mono', sans-serif;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: all ease-in-out 0.2s;
        
        &:hover{
            color: $color-dark;
            font-weight: bold;
        }    
    }

    .contact{
        color: $color-dark;
        background-color: $color-white;
        border: none;
        margin-left: 20px;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        transition: all ease-in-out .2s;
        font-family: 'Space Mono', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        
    
        &:hover{
            background: $color-dark;
            color: $color-white; 
            cursor: pointer;
        }
    }

    .logo:hover {
        cursor: pointer;
    }

}




/*-----------Hero--------------*/

.name-container{
    display: flex;
    justify-content: space-between;
    margin: 25px 35px;
}

.item-desc {
    margin: auto;

    .name{
        font-family: 'Nunito', sans-serif;
        color: $color-dark;
        font-size: 64px;
        text-align: center;
    }

    .job{
        font-family: 'Space Mono', sans-serif;
        font-size: 32px;
        color: $color-blue;
        text-align: center;
        letter-spacing: 0.25em;
    }
}

.item-image {
    margin: auto;
    border-radius: 6px;
}




/*--------------PROFILE---------------*/
.profile-container{
    display: flex;
    justify-content: center;
    margin: 55px 35px;
}

.item-description {
    margin: auto;

    .profile-description{
        font-family: 'Nunito', sans-serif;
        color: $color-gray-dark;
        font-size: 22px;
        text-align: center;

        b {
            color: $color-blue;
            font-family: 'Space Mono', sans-serif;
            font-weight: 600;
        }
    }
}


/*--------------Skills---------------*/

.skills{
    background-color: $color-dark;
    color: $color-white;
    height: 250px;

    h2 {
        color: $color-white;
    }
}

.skills-container{
    display: flex;
    justify-content: space-between;
    margin: 25px 35px;
}    


.wd{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    color: #ECECEC;
    font-size: 22px;
}

.uix{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    color: #ECECEC;
    font-size: 22px;
}


/*--------------Skills---------------*/



