@import "./variables.scss";
@import "./header.scss";
@import "./projects.scss";

::selection {
  color: $color-white;
  background: $color-blue;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: $color-dark;
  font-family: $second-font;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

/* -----------------------SCROLLBAR-------------------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-gray-soft;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-gray-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*-----------HERO--------------*/

.section-hero-container {
  display: flex;
  flex-direction: column;
  margin: 80px 15px;
}

.section-hero-description {
  margin: auto;
  &__name {
    font-family: "Calibre";
    color: #2e2e2e;
    font-size: 80px;
    text-align: center;
  }

  &__job {
    font-family: $second-font;
    font-size: 32px;
    color: $color-blue;
    text-align: center;
    letter-spacing: 0.2em;
  }
}

.section-hero-img {
  margin: auto;
  justify-content: center;
  margin-bottom: 80px;
}

/*--------------PROFILE---------------*/
.section-aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-aboutme-description {
    font-family: $main-font;
    color: $color-gray-dark;
    line-height: 2.3rem;
    font-size: 20px;
    text-align: center;
    white-space: normal;
    word-break: normal;

    b {
      color: $color-blue;
      font-family: $main-font;
      font-weight: 700;
    }
  }
  .section-aboutme-btn-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;

    .section-aboutme-button {
      background-color: $color-dark;
      color: $color-white;
      border: none;
      text-decoration: none;
      border-radius: 100px;
      transition: all ease-in-out 0.2s;
      font-family: $second-font;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      justify-content: center;
      outline: none;

      &:hover {
        background: $color-blue;
        color: $color-white;
        cursor: pointer;
        border: none;
        box-shadow: 0px 15px 20px rgba(85, 82, 255, 0.4);
        transform: translateY(-4px);
      }
    }
  }
}

/*--------------Skills---------------*/

.skills-container {
  display: flex;
  justify-content: center;

  .skills-container-main {
    background-color: $color-dark;
    width: 1200px;
    border-radius: 8px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    margin: 35px 35px;

    .skills-container-title {
      h2 {
        color: $color-white;
        padding-top: 24px;
        padding-bottom: 24px;
        .underline {
          background-image: linear-gradient(120deg, #5552ff 0%, #5552ff 100%);
          background-repeat: no-repeat;
          background-size: 100% 0.2em;
          background-position: 0 88%;
          transition: background-size 0.25s ease-in;
          &:hover {
            background-size: 100% 88%;
          }
        }
      }
    }
    .skills-container_grid {
      display: grid;
      align-items: start;
      justify-content: space-around;
      margin-top: 30px;

      .skills-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: $main-font;
        color: #ececec;

        h3 {
          color: $color-white;
          font-weight: 500;
          font-size: 22px;
          text-align: center;
          justify-content: center;
        }

        p {
          padding: 5px 0;
          font-size: 16px;
          opacity: 0.9;
          font-weight: 300;
        }

        .skills-content-item {
          text-align: center;
        }
      }
    }
  }
}

/*--------------CONTACT---------------*/
.contact {
  height: 350px;
  background-color: $color-gray-soft;
  h2 {
    color: $color-dark;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .contact-item {
      i {
        color: $color-dark;
        transition: 0.2s;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

/*--------------FOOTER---------------*/
footer {
  width: 100%;
  height: 36px;
  background-color: $color-dark;

  p {
    font-family: $main-font;
    color: $color-gray-soft;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
}

/*----------------------------------------------- Media Querys --------------------------------------------- */

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  /*--------------About---------------*/
  .section-aboutme-container {
    margin: 120px 14px 120px 14px;
  }

  .section-aboutme-button {
    padding: 12px 168px;
    letter-spacing: 0.12em;
  }

  /*--------------Skills---------------*/
  .skills-content-img {
    margin: 15px auto 0;
  }

  .skills-content {
    margin-bottom: 48px;
    h3 {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  /*--------------Contact---------------*/
  .contact-container {
    padding: 50px 25px 50px;
    .contact-item {
      padding: 10px 10px;
      i {
        font-size: 28px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  body {
    overflow-x: hidden;
  }

  /*--------------About---------------*/
  .section-aboutme-container {
    margin: 120px 60px 120px 60px;
  }

  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
  /*--------------Skills---------------*/
  .skills-content-img {
    margin: 15px auto;
  }

  .skills-content {
    margin-top: 15px;
    margin-bottom: 18px;
    h3 {
      padding-top: 18px;
      padding-bottom: 24px;
    }
  }

  /*--------------Contact---------------*/
  .contact-container {
    padding: 50px 25px 50px;
    .contact-item {
      padding: 10px 15px;
      i {
        font-size: 32px;
      }
    }
  }
}

@media screen and (min-width: 920px) {
  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
  /*--------------Skills---------------*/
  .skills-container-main {
    height: 720px;
  }
  .skills-container_grid {
    grid-template-columns: 1fr 1fr;
  }

  .skills-content {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*--------------Contact---------------*/
  .contact-container {
    padding: 50px 25px 50px;
    .contact-item {
      padding: 10px 32px;
      i {
        font-size: 36px;
      }
    }
  }
}

@media screen and (min-width: 1380px) {
  /*--------------About---------------*/

  .section-aboutme-container {
    margin: 120px 100px 120px 100px;
  }

  .section-aboutme-button {
    padding: 12px 34px;
    letter-spacing: 0.12em;
  }
  /*--------------Skills---------------*/
  .skills-container-main {
    height: 500px;
  }
  .skills-container_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skills-content {
    margin-top: 0px;
    margin-bottom: 0px;
    h3 {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .skills-content-img {
    margin: 0 auto;
  }

  /*--------------Contact---------------*/
  .contact-container {
    padding: 50px 25px 50px;
    .contact-item {
      padding: 10px 32px;
      i {
        font-size: 36px;
      }
    }
  }
}
