// ##---Colors----##

$color-dark: #161624;
$color-blue: #5552ff;
$color-white: #FEFEFE;
$color-gray-soft: #EBEBEF;
$color-gray-dark: #44444F;
$color-gray: #A6A6A6;

// ##-----Fonts-----##
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


$main-font: "Space Grotesk", sans-serif;
$second-font: "DM Sans", sans-serif;