// ##---Colors----##

$color-dark: #1e1e1e;
$color-blue: #5552ff;
$color-white: #ffffff;
$color-gray-soft: #f6f6f6;
$color-gray-dark: #828282;

// ##-----Fonts-----##
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

// @font-face {
//   font-family: "Calibre";
//   src: url("/css/fonts/Calibre/Calibre-Medium.ttf"),
//     url("/css/fonts/Calibre/Calibre-Medium.woff"),
//     url("/css/fonts/Calibre/Calibre-Medium.woff2"),
//     url("/css/fonts/Calibre/Calibre-Regular.ttf"),
//     url("/css/fonts/Calibre/Calibre-Regular.woff"),
//     url("/css/fonts/Calibre/Calibre-Regular.woff2"),
//     url("/css/fonts/Calibre/Calibre-Semibold.ttf"),
//     url("/css/fonts/Calibre/Calibre-Semibold.woff"),
//     url("/css/fonts/Calibre/Calibre-Semibold.woff2");
// }

// $main-font: "Inter", sans-serif;
$main-font: "Outfit", sans-serif;
$second-font: "Space Mono", sans-serif;
$third-font: "Outfit", sans-serif;
