// ##---Colors----##

$color-dark: #1e1e1e;
$color-blue: #5552ff;
$color-white: #ffffff;
$color-gray-soft: #f6f6f6;
$color-gray-dark: #828282;

// ##-----Fonts-----##
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


$main-font: "Space Grotesk", sans-serif;
$second-font: "DM Sans", sans-serif;